@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');


*{
    font-family: "Open-Sans", sans-serif;
    font-style: normal;
}

header{
    text-align: center;
    padding-top:25px;
    padding-bottom: 15px;
    margin-bottom: 50px;

    border-bottom: 2px solid gray;

    box-shadow: 1px 1px 10px ;
    h1{
        font-size: 40px;
        font-weight: 600;
    }
}

.App{
    .container{
        margin-left: 10%;
        margin-right: 10%;
        width:80%;
        .search-block{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 50px;
            .search-input{
                width:87%;
                input{
                    padding: 10px;
                    padding-left: 50px;
                    font-size: 30px;
                    width: 100%;
                    border: 1px solid black;
                    border-radius: 10px;

                    box-shadow: 1px 1px 10px ;

                    &:focus{
                        outline: 3px solid lightgreen;
                    }
                }
            }
            .search-btn{
                width:10%;
                button{
                    font-size: 30px;
                    width: 100%;
                    border: 1px solid black;
                    border-radius: 10px;
                    height: 56px;
                    img{
                        width:80%;
                        height: 80%;
                    }

                    box-shadow: 1px 1px 10px ;
                }
            }
        }
        .results{
            h2{
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 20px;
            }
            table{
                width: 100%;
                table-layout:fixed;
                font-size: 18px;

                box-shadow: 1px 1px 10px ;

                border:4px solid gray;
                border-radius: 10px;
                .table-head{
                    font-size: 20px;
                    font-weight: 600;
                }
                tr{
                    background-color: lightgray;

                    &:nth-child(even){
                        background-color: white;
                    }

                    td{
                        padding: 5px;
                        text-align: center;
                        div{
                            overflow:hidden;
                            white-space: nowrap;
                        }
                    }

                }
            }
        }
    }
}